
 .gratitude{
    background-image: radial-gradient(circle at 100% 0%, #f08dff 0, #ba77ed 25%, #845ec2 50%, #534596 75%, #2a2f6f 100%);
    width: 100vw;
    height: 100vh;
}

.text{
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    color: blanchedalmond;
    text-align: center;
    padding: 10px;
    line-height: 4vw;
}

.text2{
    font-family: 'Nunito Sans', sans-serif;
    font-stretch: expanded;
    font-size: 3.8vw;
    color: blanchedalmond;
    text-align: center;
    padding: 10px;
    line-height: 4vw;
}

.feint{
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    color: #FF6F91;
    padding: 30px;
    line-height: 1em;
}

.devs{
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    color: white;
    padding: 10px;
    line-height: 1em;
    margin-right: 2vw;
}

@media only screen and (max-width: 573px){  



.feint{
    font-size: 8vw;
}

.devs{
    font-size: 7vw;
 }
} 

@media only screen and (min-width: 574px)and (max-width: 767px){

}

@media only screen and (min-width: 768px)and (max-width: 1280px) {

}

@media only screen and (min-width: 1281px) {
    
}





   
