


    <div class="page-wrapper ">
      <div class="sticky-header">
    
      
      </div>
      <div class="content-wrapper">
      
          <div class="content">
     
            <app-header *ngIf="!(router.url === '/contacto-con-desarrollo-web' ||router.url === '/gracias-por-el-contacto' )"></app-header>

            
          
        
           <router-outlet> </router-outlet> 
        
         

         
          </div>
           <div class="footer">
       
             <app-footer *ngIf="!(router.url === '/gracias-por-el-contacto' )"></app-footer>
          </div> 
      </div> 
  </div>

