
 
 <mat-toolbar class="toolbar animate__animated animate__fadeInDown">

 

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="showToolbar()">
    <span aria-hidden="false" class="material-icons">menu</span>
 </button>



 <button mat-icon-button class="example-icon"  (click)="goToUrl('whatsapp')" aria-label="Example icon-button with heart icon">
  <i class="fab fa-whatsapp"></i>
 </button>

 <button mat-icon-button (click)="goToUrl('gps')"class="example-icon" aria-label="Example icon-button with share icon">
  <span aria-hidden="false" class="material-icons">share_location</span>
</button>

<button mat-icon-button (click)="goToUrl('cel')" class="example-icon" aria-label="Example icon-button with share icon">
  <span aria-hidden="false" class="material-icons">phone_android</span>
</button>

<button mat-icon-button (click)="goToUrl('email')" class="example-icon" aria-label="Example icon-button with share icon">
  <span aria-hidden="false" class="material-icons">email</span>
</button>

</mat-toolbar>

