

mat-toolbar{
    height: 20vw;
}

span{
    transform: scale(1.4);
    transition: all 0.3s ease 0s;
}



span:hover{
    color: rgb(199, 199, 199); 
}


button{
    margin-left: 3vw;
}

mat-toolbar{   
     color: black;
     overflow: hidden;
}

.fa-whatsapp{
    font-size: 2.8vw;
}

.fa-whatsapp:hover{
    transition: all 0.3s ease 0s;
    color: rgb(199, 199, 199); 
}

@media only screen and (max-width: 573px){  

 span{
    transform: scale(1.1);
 }
 
 .fa-whatsapp{
    font-size: 6.5vw;
}

}

@media only screen and (min-width: 574px)and (max-width: 767px){
    
mat-toolbar{
    height: 9vw;
}

span{
    transform: scale(1.2);
}

.fa-whatsapp{
    font-size: 4.5vw;
}
 

}

@media only screen and (min-width: 768px)and (max-width: 1280px) {
    
      
mat-toolbar{
    height: 10vw;
}

span{
    transform: scale(1.4);
}

.fa-whatsapp{
    font-size: 2.8vw;
}

}

@media only screen and (min-width: 1281px)  {
    
 mat-toolbar{
     height: 8vw;
 }
 span{
    transform: scale(1.5);
}

.fa-whatsapp{
    font-size: 2.2vw;
}


}


