html, body { height: 100%; }
body { 
    margin: 0px;  
    overflow: hidden; 
    background-color: rgb(53, 53, 53);

 }

 .mt-10{
     margin-top: 10px;
 }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
